.App {
  text-align: center;
  background-color: rgb(225, 235, 228);
}

body .bg-dark {
  background-color: #034413!important;
  margin-bottom: 100px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.container {
  margin-top: 20px;
}


